@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

:root {
    --primary-color: black;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, div, main, nav, p, section {
    margin: 0;
    padding: 0;
}

header div.bunner h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

#home h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
}

header nav ul li a:hover {
    text-decoration: underline;
}

/*
@media (min-width: 450px) {
    header nav ul li{
        flex: 1;
    }
}
*/


header .banner {
    background-image: url(../img/house.jpg);
    background-size: cover;
    background-position: center;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div img {
    display: flex;
    justify-content: center;
}