@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

:root {
    --primary-color: black;
    --secondary-color: orange;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, div, main, nav, p, section {
    margin: 0;
    padding: 0;
}

body header div img {
    display: block;
    width: 100%;
}

body footer div img {
    display: block;
    width: 100%;
}

header div.banner h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

#home .motto h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    text-transform: downcase;
    color: var(--primary-color);
}

header nav ul li a:hover {
    text-decoration: underline;
}


@media (max-width: 370px) {
    #home .motto h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        margin: -80px;
    }
}

@media (min-width: 420px) {
    header nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--primary-color);
    }
}

header .banner {
    background-image: url(../img/house.jpg);
    background-size: cover;
    background-position: center;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: var(--secondary-color);
}

.head img {
    display: flex;
    justify-content: center;
}